/* Acá va tu código */
body {
  font-family: "Roboto";
  margin: 0;
}

img {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*Como convención se utiliza la primera caja de referencia, y se aplica margin-bottom*/
  margin-bottom: 64px;
  /*Se le aplica un margin top solo por ser la primera caja*/
  margin-top: 32px;
  padding-left: 123px;
  padding-right: 123px;
  /* Otra forma: padding: 0 123px*/
}

.logo {
  display: flex;
  width: 200px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  padding: 1em;
}

.heroBanner {
  background-image: url(images/ImageHeroBanner.jpg);
  background-color: #cccccc;
  height: 368px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 95px;
}

.textHeroBanner {
  position: absolute;
  bottom: 24px;
  right: 18px;
  width: 40%;
  color: white;
}

.textHeroBanner h1 {
  font-weight: normal;
  margin: 0;
}

.verMasSection {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0 112px;
  grid-column-gap: 70px;
  margin-bottom: 60px;
  align-items: center;
}

.verMenosSection {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0 112px;
  grid-column-gap: 70px;
  margin-bottom: 60px;
  align-items: center;
}

.instructions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 112px;
  grid-column-gap: 70px;
  grid-row-gap: 30px;
  align-items: center;
  margin-bottom: 60px;
}

.button {
  border: inherit;
  font-family: inherit;
  text-align: center;
  font-size: 22px;
  color: #f5f5f5;
  padding: 18px 24px;
  background: #048998;
  border-radius: 41px;
  max-width: 160px;
  max-height: 70px;
}

.auxButton {
  text-align: center;
  margin-bottom: 60px;
}

.welcomeMessage {
  padding: 0 123px;
  margin-bottom: 60px;
}

.offset {
  display: flex;
  margin-bottom: 69px;
  justify-content: space-between;
  padding: 0 280px;
}

.offsetMessage {
  font-family: "Roboto";
  color: #3bb4c1;
}

.offsetNumber {
  border: 1px solid #3bb4c1;
  border-radius: 12px;
  text-align: center;
  margin-right: 12px;
}

.encryption {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr;
  text-align: start;
  margin-bottom: 60px;
  align-content: end;
  padding: 0 123px;
}

.codeBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textArea {
  border: 1px solid #3bb4c1;
  border-radius: 12px;
}

.cipherButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.clearButton {
  display: flex;
  justify-content: space-evenly;
}
